* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

h3 {
    font-size: 40px;
    font-weight: 400;
}

h4 {
    font-size: 28px;
    font-weight: 600;
}

.underline-decor {
    width: 50px;
    margin: 10px 0 15px 0;
}

.col-left {
    border-bottom: 6px solid white;
}

.col-right {
    border-bottom: 6px solid #fe958c;
}

h6 {
    font-size: 18px;
    font-weight: 600;
}

.container{
    width: 65%;
    margin: auto;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px 30px 0;
}
.intro .profile-img {
    width: 35%;
    border-radius: 100%;
    display: flex;

}

.profile-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
}

.intro-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: dotted 1px #929292;
}
.intro-content p {
    font-size: 20px;
    margin-top: 20px;
    color: #929292;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.main-content .personal-info {
    width: 35%;
    background: #fff7f7;
    padding: 20px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:white;
    margin-right: 10px;
}
i {
    color: #fe958c;
    font-size: 25px;
}

.main-item{
    margin-bottom: 40px;
}

.profile-item, .education-item, .hobbies-item {
    display: flex;
    margin-bottom: 15px;
}

.profile-item {
    align-items: center;
}

.profile-item span{
    width: 80%;
}

.edu-wrap {
    border-left: 4px solid #fe958c;
}

.education-item .time {
    font-style: italic;
}

.edu-item__details {
    margin-left: 10px;
}

.icon-row {
    margin-left: 1px;
}
.desc {
    color: #929292;
}


.main-content .capacity-info {
    width: 60%;
}

.hobbies-list {
    display: flex;
    flex-wrap: wrap;
}

.hobbies-item {
    align-items: center;
    width: 50%;
}

.exp-item, .activity-item, .skill-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.capacity-info .time, .capacity-info .item-label{
    width: 15%;
}

ul li {
    list-style: square;
    margin: 0 0 5px 20px;
    color: #929292;
}

.capacity-info .content {
    width: 80%;
}

